redis-helper
input-helper
mocp
chloop
yt-helper
parse-helper
bg-helper
mocp-cli
fs-helper
settings-helper
dt-helper
jira-helper
aws-info-helper
easy-workflow-manager
mongo-helper
sql-helper
click

# For development
ipython
pdbpp
pytest
pipdeptree
